  @font-face
{
    font-family: 'Charming';
    src: url(Achaflft.ttf)
}
@font-face
{
    font-family: 'German';
    src: url(FlutedGermanica.ttf)
}
@font-face
{
    font-family: 'Elegant';
    src: url(CalligraphyFLF.ttf)
}




body {
    background-image: url('fondotienda.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  h1{
    /*Font-family para cambiar fuente de letra*/
    font-family: 'Charming';
    font-size: 135px;
    color: aliceblue;
    border-bottom: #ebe9e5 2px outset;
    padding: 10px;
    
}
h1{
  /*Font-family para cambiar fuente de letra*/
  font-family: 'Charming';
  font-size: 110px;
  color: aliceblue;
  border-bottom: #ebe9e5 2px outset;
  padding: 10px;
  
}
/*Estableciendo márgenes*/
.imagen1{

  margin-right: 7%;
}
/*Estableciendo tamaño deseado de la tabla*/
.tabla{
  
  width: 500px;
}

h2{
  font-family: 'German';
  font-size: 60px;
  color: aliceblue;
}

p1{
  font-family: 'Elegant';
  font-size: 25px;
  color: aliceblue;
}

li{
  font-family: 'Elegant';
  font-size: 25px;
  color: aliceblue;
  /*Cambiando imagen de los puntos de la lista*/
  list-style-image: url('Lista.png');
}

a{
  font-family: 'Elegant';
  font-size: 25px;
  color: brown;
}

fieldset{
  border-style: #ebe9e5 10px outset;
}

#enlace_usuarios {
  float: right;
  margin: 0px 10px 0 0;
}
#enlace_index {
  float: right;
  margin: 0px 10px 0 0;
}
